  /*body { padding-bottom: 70px; }*/
  body{
     overflow-y: hidden;
  }
  body, p, li, a{
font-family: 'PT Sans', sans-serif;
  }
.navbar-fixed-top {
 /*margin-right: -15px;*/
  position: fixed;
  border-radius: 0;
  height: 4.5vw;
  z-index: 999;

}
#main2 img{

  height: 30vw;
  position: absolute;
  top: 4vw;
  left: 80vw;
   z-index: 33;
}
#triangle-topleft2 {
  position: relative;
 z-index: 30;
 top: 2vw;
 left: 0%;
  margin-top:0px;
  padding-top: 0px;
	width: 0;
	height: 0;
	border-top: 25vw solid #b7ac68;
	border-right: 115vw solid transparent;

}
/*#topper{
    position: absolute;
   z-index: 29;
  top: 0%;
  left: 0%;
  margin-top: -15px;
  padding-top: 0px;
	width: 100%;
	height: 50px;
  background-color: black;
}*/
#triangle-topleft {
  position: absolute;
   z-index: 44;
  top: 2vw;
  left: 0%;
  margin-top:0px;
  padding-top: 0px;
	width: 0;
	height: 0;
	border-top: 24vw solid black;
	border-right: 110vw solid transparent;

}
#triangle-topleft3 {
  position: absolute;
   z-index: 5;
  top: 25.5vw;
  left: 0%;
  margin-top:0px;
  padding-top: 0px;
	width: 0;
	height: 0;
	border-bottom: 20vw solid black;
	border-left: 110vw solid transparent;
}
#triangle3-bottom{
    position: absolute;
   z-index: 5;
  top: 45vw;
  left: 0%;
  margin-top:0px;
  padding-top: 0px;
	width: 100%;
	height: 50px;
  background-color: black;
}


.nav>li{
 color: grey;
    padding-right: 2vw;
}
   .nav {
    text-align: right;
      padding-right: 2vw;
  
   }
   .nav a:hover{
       background-color:transparent !important;
      color:#b7ac68;
   }

.navbar-nav>li>a {
  position: relative;
    z-index: 9999;
       color: grey;
    padding-top: 3vw;
    font-size: 1vw;
   
}


/*subnav*/
#sub-nav{
  background-color: black;
  position: fixed;
  margin-bottom: 0px;
width: 120%;
margin-right: -30px;
top: 0px;
left: 0px;
z-index: 10;
}

#sub-nav span{
  color: #b7ac68;
  font-size: 3vw;
margin-top: 1vw;
padding-bottom: 5px;
}
#sub-nav h2{
  color: lightgrey;
  font-size: 3vw;
 padding-left: 5px;
 padding-bottom: 5px;
}



/*.navbar a{
  color: black;
}

.navbar li{
    background-color: white;
    opacity: .7;
    color: black; 
}*/

/*.nav>li>a {
    position: relative;
    display: block;
    padding: 10 10 10 15;
}*/
/*.navbar li:hover{
    background-color: black;
    opacity: .6;
    color: white;
   
}*/
/*.navbar-fixed-right {
  width: 80px;
  position: fixed;
  border-radius: 0;
  height: 100%;
  z-index: 22;
  padding-top: 20vw;
  padding-left: 1vw;
}

.navbar-fixed-right .navbar-nav > li {
  float: left;  /* Cancel default li float: left */
  /*width: 102px;
  padding-right: 0px;
}

.navbar-fixed-right + .container {
  padding-right: 160px;
  
}*/

/*end of side navbar*/




#main{
   margin-bottom: 45%;
}
#main h1{
  margin-top: 12%;
}




/*perfect side navbar with buttons*/

/*.navbar a{
  color: black;
}
.navbar .btn{
    background-color: white;
    opacity: .5;
    color: black;
   
}
.navbar .btn:hover{
    background-color: grey;
    opacity: .5;
    color: black;
   
}
.navbar-fixed-right {
  width: 100px;
  position: fixed;
  border-radius: 0;
  height: 100%;
  z-index: 999;
  padding-top: 50px;
}

.navbar-fixed-right .navbar-nav > li {
  float: left;  /* Cancel default li float: left */
  /*width: 102px;
}

.navbar-fixed-right + .container {
  padding-right: 160px;
  
}*/