  body{
     overflow-y: hidden;
  }
/*nav{
    margin-top:0;
}*/
/*#navbar{
     z-index: 999;
    position: relative;
    top: 5%;
    left: 90%;
   text-align: right !important; 
   margin-right: -15px;
}
#navbar a{
    color: black;
  text-decoration: none;
}
#navbar .btn{
    /*position: absolute;*/
  
    /*background: white;
    color: black;
    padding-right: 3px;
    padding-left: 3px;
    /*opacity: .5;*/
/*}
#navbar .btn:hover{
     background: grey;
     color: white;

    padding-right: 3px;
    padding-left: 3px;
    opacity: .5;
}*/
/*.btn{
    margin-top: 3%;
    height: 30px;
    float: right;
    width: 70px;
    /*text-align: center;*/
  
    
/*}
.navbar .row{
position: fixed;
 min-height: 0;
margin-bottom: 0;
}*/
.navbar a{
  color: black;
}
.navbar .btn{
    background-color: white;
    opacity: .5;
    color: black;
   
}
.navbar .btn:hover{
    background-color: grey;
    opacity: .5;
    color: black;
   
}
.navbar-fixed-right {
  width: 100px;
  position: fixed;
  border-radius: 0;
  height: 100%;
  z-index: 999;
  padding-top: 50px;
}

.navbar-fixed-right .navbar-nav > li {
  float: left;  /* Cancel default li float: left */
  width: 102px;
}

.navbar-fixed-right + .container {
  padding-right: 160px;
  
}

/* On using dropdown menu (To right shift popuped) */
/*.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: -50px;
  margin-right: 140px;
}*/