<section id="about" class="module image-responsive">

	<div class="container-fluid container-custom">

		<!-- MODULE TITLE -->
		<div class="about row">
			<div class="col-sm-6 col-sm-offset-3">
				<h2 class="text-center module-title font-alt">Our Story</h2>
				<hr>
				<p class="text-center lead module-subtitle">Plumb Cellars was created by a group of friends that share a love and passion for good wine. In the fall of 2006, the
					Plumb Cellars' partners, created the first vintage of our flagship blend Damn Straight red wine. As we planted our first
					vineyard our cofounder, a builder by trade, insisted that all the rows be straight and all the vineyard stakes plumb.
					This deep desire for precision and aesthetics (of doing the job well) brought us to choose the name, Plumb. A wine made
					correctly—a fine, straight wine.</p>
			</div>
		</div>
	</div>
</section>




<div id="image" style="text-align: center; padding-right: 0 !important;">
	<section id="shop" class="module img-responsive">

</div>
<div id="logo">
	<img src="/Winery/img/plumbbob.png" alt=" ">

</div>
</section>