





<section id="about" class="module image-responsive">
					
     <div class="container-fluid container-custom">

		<!-- MODULE TITLE -->
		<div class="about row">
			<div class="col-sm-6 col-sm-offset-3">
				<h2 class="text-center module-title font-alt">Our Story</h2><hr>
				<p class="text-center lead module-subtitle">Plumb Cellars was created by a group of friends that share a love and passion for good wine. In the fall of 2006, the Plumb Cellars' partners, created the first vintage of our flagship blend Damn Straight red wine. As we planted our first vineyard our cofounder, a builder by trade, insisted that all the rows be straight and all the vineyard stakes plumb. This deep desire for precision and aesthetics (of doing the job well) brought us to choose the name, Plumb. A wine made correctly—a fine, straight wine.</p>
			</div>
		</div>
		</div>
	</section>




<section id="shop" class="module image-responsive">
    <div id="logo" style="text-align: center;" >
                        <img src="img/plumbbob.png " alt=" ">
                        <!--<a class="btn" ng-click="show = !show">
                            <p style="color: black;">Wines</p>
                        </a>-->
                    </div>
		</section>
		<!-- /MODULE TITLE -->

	<!--<section>

	<div class="row multi-columns-row">

		<!-- ICONBOX -->
		<!--<div class="col-sm-3 col-md-3 col-lg-3">
			<div class="iconbox">
				<div class="iconbox-icon">
					<span class="icon-mobile"></span>
				</div>
				<div class="iconbox-header">
					<h4 class="iconbox-title font-alt">Responsive Design</h4>
				</div>
				<div class="iconbox-content">
					<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life.</p>
				</div>
			</div>
		</div>-->
		<!-- /ICONBOX -->

		<!-- ICONBOX -->
		<!--<div class="col-sm-3 col-md-3 col-lg-3">
			<div class="iconbox">
				<div class="iconbox-icon">
					<span class="icon-linegraph"></span>
				</div>
				<div class="iconbox-header">
					<h4 class="iconbox-title font-alt">Modern Code</h4>
				</div>
				<div class="iconbox-content">
					<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life.</p>
				</div>
			</div>
		</div>-->
		<!-- /ICONBOX -->

		<!-- ICONBOX -->
		<!--<div class="col-sm-3 col-md-3 col-lg-3">
			<div class="iconbox">
				<div class="iconbox-icon">
					<span class="icon-strategy"></span>
				</div>
				<div class="iconbox-header">
					<h4 class="iconbox-title font-alt">Premium Plugins</h4>
				</div>
				<div class="iconbox-content">
					<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life.</p>
				</div>
			</div>
		</div>-->
		<!-- /ICONBOX -->

		<!-- ICONBOX -->
		<!--<div class="col-sm-3 col-md-3 col-lg-3">
			<div class="iconbox">
				<div class="iconbox-icon">
					<span class="icon-layers"></span>
				</div>
				<div class="iconbox-header">
					<h4 class="iconbox-title font-alt">Modular Layout</h4>
				</div>
				<div class="iconbox-content">
					<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life.</p>
				</div>
			</div>
		</div>-->
		<!-- /ICONBOX -->

	<!--</div>-->

	
<!--</section>-->