<div id="bck-img1" class="wrapper wrapper-default wrapper-half-left wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
      <div class="container wrapper-lg">
        <div class="row">
          <div class="col-xs-5 col-xs-offset-7 ">
            <p class="lead">
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. 
            </p>
          </div>
        </div>
      </div>
    </div>