

#contactback h2{
    margin-top: 10%;
    padding-top: 20%;
    color: #b4a755;
    font-family: 'Slabo 27px', serif;
  
}
#contactback{
    text-align: center;
}
.form-group .btn{
    background: #b4a755;
    color: black;
    border: none;
}
.form-group .btn:hover{
    background: black;
    color: white;
    border: none;
}
.bar{
    position: relative;
    top: 0vw;
    left: 0vw;
    background: white;
    height: 50%;
}
#contactback h5{
    color: grey;
      font-family: 'Slabo 27px', serif;
}
#contact2{
    margin-top: 20%;
    background: white;
    margin-top: 46%;
}
#contact2 label{
    color: grey;
}


#contacts{
    height: 222px;
    position: relative;
    background: black !important;
  padding-bottom: 25px;
  margin-bottom: 0px;
  padding-top: 2px;
}
/*.me{
    margin-bottom: 25%;
}*/

.me{
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
#fas{
    text-align: center;
}
.end{
    width: 100%;
    background: black;
    color:  #b4a755;
    height: 30%;
     font-family: 'Slabo 27px', serif;
     z-index: 88;
    top: 350%;
     left: 0%;
     text-align: center;

}
/*.end>div{
    text-align: center;
}*/
form{
    padding-top: 10%;
}
.row{
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.end p, i{
      font-family: 'Slabo 27px', serif;
    margin-top: 2vw;

}
.end .fa{
font-size: 3vw;
 padding-right: 1vw;
  padding-left: 1vw;
}

#address{
    border-left: 1px solid grey;
     border-right: 1px solid grey;
}
.me a{
    font-size: 4vw;
     font-family: 'Mrs Saint Delafield', cursive;
     color: lightgrey;
     margin-top: 0px;
}
.me .fa{
    font-size: 3vw;

}
.me{
    font-family: 'Slabo 27px', serif;
    text-align: center;
    font-size: 2vw;
   /*margin-bottom: 5%;*/
   
}
#contacts{
    text-align: center;
}
#contacts .me{
    text-align: center;
}