<section id="events" class="module image-responsive">

  <div class="events"></div>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h2 class="text-center module-title font-alt">Events</h2>
      <hr>
      <p class="lead text-center">Come join in the fun! <br>We are located at the heart of Walla Walla on Main St., and we have events almost every weekend.</p>
      
      <button class="btn btn-lg" data-toggle="modal" data-target="#myModal2Normal">
   Calendar
</button>

<!-- Modal -->
<div class="modal fade" id="myModal2Normal" tabindex="-1" role="dialog" 
     aria-labelledby="myModal2Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" 
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h3 class="modal-title" id="myModalLabel">
                    There will be a full calendar here
                </h3>
               <p></p>
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body">
                
                <!--<form role="form">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                      <input type="email" class="form-control"
                      id="exampleInputEmail1" placeholder="Enter email"/>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                      <input type="password" class="form-control"
                          id="exampleInputPassword1" placeholder="Password"/>
                  </div>
                  <div class="checkbox">
                    <label>
                        <input type="checkbox"/> Check me out
                    </label>
                  </div>
                  <button type="submit" class="btn">Submit</button>
                </form>
                -->
                
            </div>
            
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn"
                        data-dismiss="modal">
                            Close
                </button>
                <button type="button" class="btn">
                    Save changes
                </button>
            </div>
        </div>
    </div>
</div>




   


    </div>
  </div>
</section>