#events{
        background:grey url('/Winery/img/events.jpg') center center no-repeat fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
    height: 100%;
}
#events h2{
    color: #b4a755;
     font-family: 'Slabo 27px', serif;
}
#events p{
    color: white;
     font-family: 'Slabo 27px', serif;
}
#events .btn{
background: #b4a755;
color: black; 
}
#events .btn:hover{
background: grey;
color: black; 
}
#events .btn:active{
background: grey;
color: black; 
border: 1px solid grey;
}

#events{
    text-align: center;
}
.modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
    width: 100%
}

.modal-body .form-horizontal .control-label {
    text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-2 {
    margin-left: 15px;
}
.modal-header p{
    color: grey;
}