#events{
        background:grey url('/img/events.jpg') center center no-repeat fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
    height: 100%;
}
#events h2{
    color: #b4a755;
     font-family: 'Slabo 27px', serif;
}
#events p{
    color: white;
     font-family: 'Slabo 27px', serif;
}
#events .btn{
background: #b4a755;
color: black; 
}
#events .btn:hover{
background: grey;
color: black; 
}
#events{
    text-align: center;
}