    <div class="wrapper wrapper-lg wrapper-lightest" id="team">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center wrapper-xs wrapper-no-padding-top">
              <span class="subheading">Who we are</span>
              <h2>Our Team</h2>
              <p class="lead">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </p>
            </div>
          </div>

          <div class="row text-center">

              <div class="col-md-4  wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                <div class="row">
                  <div class="col-md-10 wrapper-default wrapper-xs wrapper-shadow no-gutter">
                    <img src="img/image-5-sm.jpg" class="pull-top img-responsive" alt="image">
                    <img src="img/testimonial5.jpg" class="img-circle pull-top" width="80" alt="image">
                    <div class="row">
                      <div class="col-md-12">
                        <h5>Dolor sit amet</h5>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore. </p>
                        <a href="#" class="btn btn-sm btn-primary">Read more...</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4 wow fadeIn" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">
                <div class="row">
                  <div class="col-md-10 col-md-offset-1 wrapper-default wrapper-xs wrapper-shadow no-gutter">
                    <img src="img/image-8-sm.jpg" class="pull-top img-responsive" alt="image">
                    <img src="img/testimonial1.jpg" class="img-circle pull-top" width="80" alt="image">
                    <div class="row">
                      <div class="col-md-12">
                        <h5>Dolor sit amet</h5>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore. </p>
                        <a href="#" class="btn btn-sm btn-primary">Read more...</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4 wow fadeIn" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeIn;">
                <div class="row">
                  <div class="col-md-10 col-md-offset-2 wrapper-default wrapper-xs wrapper-shadow no-gutter">
                    <img src="img/image-9-sm.jpg" class="pull-top img-responsive" alt="image">
                    <img src="img/testimonial4.jpg" class="img-circle pull-top" width="80" alt="image">
                    <div class="row">
                      <div class="col-md-12">
                        <h5>Dolor sit amet</h5>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore. </p>
                        <a href="#" class="btn btn-sm btn-primary">Read more...</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>