<div id="main" class="wrapper wrapper-100vh wrapper-darkest text-center wrapper-overflow-hidden skrollable skrollable-between"  id="start" data-top="background-position: 50% 50%;"  data-top-bottom="background-position: 50% 0%;">
      <div class="hero-clouds" ></div>
      <div class="overlay overlay-dark"></div>
      <div class="container v-align">
        <div class="row">
          <div class="col-lg-10 col-lg-offset-1 col-md-12 text-center">
            <!--<h1 class="headline">Into the Darkness</h1>-->
             <img src="/img/vinyard.jpg" class="img-responsive" alt="2&quot;he" adventurers"="">
          </div>
          <div class="col-md-8 col-md-offset-2">
                  <p class="lead">This is a demo landingpage/one-pager website based on the Bootstrap template <strong>Poncho</strong>. Check it out and have fun!</p>
          </div>
          <div class="col-md-4 col-md-offset-4">
            <a class="btn btn-lg btn-primary btn-block" href="#work">Learn more</a>
          </div>
        </div>
      </div>
      <div class="mouse_scroll animated bounceInDown"><a href="#work"><i class="fa fa-angle-down fa-2x fa-border-circle"></i></a></div>
    </div>
    <div class="wrapper wrapper-darkest wrapper-lg" style="background-image: url(img/geo.png); background-size:cover; background-position: top center;" id="work">
      <div class="container">
        <div class="row">
          <div class="col-md-12  wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
            <div class="row">
              <div class="col-md-10 col-md-offset-1 text-center">
                <span class="subheading">What we do</span>
                <h2>Lorem ipsum dolor amet</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip awesome.
                </p> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    