   <div class="wrapper wrapper-100vh wrapper-darkest text-center wrapper-overflow-hidden skrollable skrollable-between"  id="start" data-top="background-position: 50% 50%;" data-top-bottom="background-position: 50% 0%;">
      <div class="hero-clouds" style="visibility: inherit; opacity: 1; background: url(img/clouds3.png) repeat scroll 100% 0%;"></div>
      <div class="overlay overlay-dark"></div>
      <div class="container v-align">
        <div class="row">
          <div class="col-lg-10 col-lg-offset-1 col-md-12 text-center">
            <!--<h1 class="headline">Into the Darkness</h1>-->
            <h1>Syringa</h1>
             <!--<img src="img/headline_adventurers.png" class="img-responsive" alt="2&quot;he" Wine"="">-->
          </div>
          <div class="col-md-8 col-md-offset-2">
                  <p class="lead">Taste <strong>Idaho Wine</strong>- At its best!</p>
          </div>
          <div class="col-md-4 col-md-offset-4">
            <a class="btn btn-lg btn-primary btn-block" href="#work">Learn more</a>
          </div>
        </div>
      </div>
      <div class="mouse_scroll animated bounceInDown"><a href="#work"><i class="fa fa-angle-down fa-2x fa-border-circle"></i></a></div>
    </div>





        <div class="wrapper wrapper-lg wrapper-default" id="blog">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center wrapper-xs wrapper-no-padding-top">
            <span class="subheading">Fresh from the press</span>
          <h2>What´s new</h2>
          <hr>
        </div>
      </div>
      <div class="row">
          <div class="col-md-6 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
          <article>
                    <img src="img/image-10-sm.jpg" alt="image" class="img-responsive">
                    <p><small>December 3nd, 2015</small></p>
                    <h3>Dolor sitam est?</h3>
                    <hr>
                    <p>
                      <small>- By Barney Stinson -</small>
                    </p>
                    <p class="lead">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea.  
                    </p>
                    <p>
                    Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. 
                    </p>
                    <hr>
          </article>
        </div>
        <div class="col-md-6 wow fadeIn" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">
          <article>
                    <small>December 2nd, 2015</small>
                    <h3>Sed diam nonumy</h3>
                    <hr>
                    <p>
                      <small>- By Barney Stinson -</small>
                    </p>
                    <p class="lead">
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea.  
                    </p>
                    <p>
                    Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. 
                    </p>
                    <img src="img/image-11-sm.jpg" alt="image" class="img-responsive">
                    <hr>
          </article>
        </div>
          </div>
      </div>
    </div>