    <div class="module" >
        <div id="team" class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center wrapper-xs wrapper-no-padding-top">
              <!--<span class="subheading">Who we are</span>-->
              <h2>Our Team</h2><hr>
             
              <p class="lead">These three friends met under very unusual circumstances. They were each pusuing vasting different careers when they all found themselves getting drunk and gambling in Las Vegas. While Crandall was onstage singing hip-hop, DeDe found herslef in a bit of a jam for card counting. She promised to repent and spent the rest of the weekend ...</p>
            </div>
          </div>

          <div class="row text-center">
              <div id="mugs" class="col-md-4">
                <div class="row">
                  <div class="col-md-10 wrapper-default wrapper-xs wrapper-shadow no-gutter">
                    <img src="img/crandall.jpg" class="pull-top" style="border: 2px solid goldenrod; border-radius: 70%;" alt="image">
           
                    
                        <h2>Crandall Kyle</h2>
                        <p>Wine Maker and Hip-Hop Dancer. </p>
                        <a href="#" class="btn btn-sm">Read more...</a>
                   
                  </div>
                </div>
              </div>

              <div id="mugs" class="col-md-4">
                <div class="row">
                  <div class="col-md-10 col-md-offset-1 wrapper-default wrapper-xs wrapper-shadow no-gutter">
                    <img src="img/Dede.jpg" class="pull-top" style="border: 2px solid goldenrod; border-radius: 70%;" alt="image">
                  
                   
                        <h2>DeDe</h2>
                        <p>Tasting Room Manager and Professional Gambler.</p>
                        <a href="#" class="btn btn-sm">Read more...</a>
                      </div>
                  
                </div>
              </div>

              <div id="mugs" class="col-md-4">
                <div class="row team">
                  <div class="col-md-10 col-md-offset-2 wrapper-default wrapper-xs wrapper-shadow no-gutter">
                    <img src="img/partner3.jpg" class="pull-top" style="border: 2px solid goldenrod; border-radius: 70%;" alt="image">
                        <h2>Partner</h2>
                        <p>Vinyard Manager and World Renowned Televangelists</p>
                        <a href="#" class="btn btn-sm">Read more...</a>
                      </div>
                    </div>
               
              </div>
          </div>
        </div>
      </div>