<div class="module">
  <div id="team" class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center wrapper-xs wrapper-no-padding-top">
        <!--<span class="subheading">Who we are</span>-->
        <h2>Our Team</h2>
        <hr>

        <p class="lead">These three friends met under very unusual circumstances. They were each pusuing vasting different careers when they
          all found themselves getting drunk and gambling in Las Vegas. While Crandall was onstage singing hip-hop, DeDe
          found herslef in a bit of a jam for card counting. She promised to repent and spent the rest of the weekend ...</p>
      </div>
    </div>

    <div class="row text-center">
      <div id="mugs" class="col-md-4">
        <div class="row">
          <div class="col-md-10 wrapper-default wrapper-xs wrapper-shadow no-gutter">
            <img src="img/crandal.jpg" class="pull-top" style=" border: 2px solid goldenrod; border-radius: 70%;" alt="image">


            <h2>Crandall Kyle</h2>
            <p>Wine Maker and Hip-Hop Singer and Dancer. </p>
            <a>
              <p class="btn" ng-click="show = !show">Read more...</p>
            </a>
            <div ng-show="show">
              <p>Crandall Kyle's introduction to wine started in 1995 with a harvest job at L'Ecole No 41. It was such a fun
                and interesting job, in an industry whose product he enjoyed so much, that his harvest job lasted for 6 more
                years. An accountant by trade, he left there to go work at a public accounting firm, but missed being involved
                with wine. So when an opportunity to make some garage wine came in 2002, he jumped on board. In an effort
                to always make better wine, he decided to take a small-lot winemaking course in 2003 from Stan Clarke, a
                highly respected viticulturist. In this class were several friends of his, and he decided to consolidate
                their carboy's and make it a joint venture. This venture grew into something bigger and bigger and now has
                a name…Plumb Cellars.</p>
            </div>

          </div>
        </div>
      </div>

      <div id="mugs" class="col-md-4">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 wrapper-default wrapper-xs wrapper-shadow no-gutter">
            <img src="img/Dede.jpg" class="pull-top" style="border: 2px solid goldenrod; border-radius: 70%;" alt="image">


            <h2>Edie and Dale Johnson</h2>
            <p>Sales and Marketing and Professional Gambler.</p>
            <a>
              <p class="btn" ng-click="show = !show">Read more...</p>
            </a>
            <div ng-show="show">
              <p>Dale and Edie Johnson came to Walla Walla in the early '70s, where both worked in the medical field. After
                retiring in their mid-30s, they traveled extensively while their children were young.<br> In recent years,
                they owned and operated Brickstone Design Gallery which, through its wine bar and shop, led them to a joint
                partnership with friends to plant a vineyard and make their own wine. Today, Edie and Dale still reside in
                the Walla Walla Valley, where they enjoy relaxing and biking around the local scenery. They have two beautiful,
                grown daughters, Brandy and Stacey.</p>
            </div>
          </div>

        </div>
      </div>

      <div id="mugs" class="col-md-4">
        <div class="row team">
          <div class="col-md-10 col-md-offset-2 wrapper-default wrapper-xs wrapper-shadow no-gutter">
            <img src="img/partner3.jpg" class="pull-top" style=" border: 2px solid goldenrod; border-radius: 70%;" alt="image">
            <h2>Gary Kagels</h2>
            <p>Vinyard Manager and World Renowned Televangelists</p>
            <a>
              <p class="btn" ng-click="show = !show">Read more...</p>
            </a>
            <div ng-show="show">
              <p>As a custom home builder, Gary has an excellent reputation of style and perfection in whatever he sets his
                mind on doing. The name of Plumb Cellars—and its flagship blend Damn Straight—was derived from setting their
                vineyard straight in accurate alignment with the plumb bob. He studied at The Center for Enology & Viticulture
                at Walla Walla Community College. He is Plumb Cellars' vineyard manager, ensuring that its grapes peak to
                their perfection of taste, for its wines.</p>
            </div>
            <p></p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>