<div class="module">
  <div id="team" class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center wrapper-xs wrapper-no-padding-top">
        <!--<span class="subheading">Who we are</span>-->
        <h2>Our Team</h2>
        <hr>

        <p class="lead">These three friends met under very unusual circumstances. They were each pusuing vastly different careers when they
          all found themselves getting drunk and gambling in Las Vegas. While Crandall was onstage singing hip-hop, DeDe
          found herslef in a bit of a jam for card counting. She promised to repent and spent the rest of the weekend ...</p>
      </div>
    </div>

    <div class="row text-center">
      <div id="mugs" class="col-md-4">
        <div class="row">
          <div class="col-md-10 wrapper-default wrapper-xs wrapper-shadow no-gutter">
            <img src="img/profilepic.jpg" class="pull-top" style="width: 200px; border: 2px solid goldenrod; border-radius: 72%;" alt="image">


            <h2>Randall Kyle</h2>
            <p>Wine Maker and Hip-Hop Singer and Dancer. </p>
            <a>
              <p class="btn" ng-click="show = !show">Read more...</p>
            </a>
            <div ng-show="show">
              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, maxime, tenetur. Optio, totam quae dolorem eius enim assumenda rerum, saepe quasi eos recusandae obcaecati illo maxime, quisquam labore voluptatem distinctio.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, expedita voluptates. Ratione ea incidunt commodi ipsa voluptas vitae asperiores, consectetur esse consequatur a. Placeat neque nemo voluptate nobis, iusto tenetur!</p>
            </div>

          </div>
        </div>
      </div>

      <div id="mugs" class="col-md-4">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 wrapper-default wrapper-xs wrapper-shadow no-gutter">
            <img src="img/profilepic.jpg" class="pull-top" style="border: 2px solid goldenrod; width: 200px; border-radius: 72%;" alt="image">


            <h2>Eddie Johnston</h2>
            <p>Sales and Marketing and Professional Gambler.</p>
            <a>
              <p class="btn" ng-click="dow = !dow">Read more...</p>
            </a>
            <div ng-show="dow">
              <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis est facere veritatis quas itaque! Temporibus officia, sunt eos! Ducimus magni eum dolores, ipsum hic voluptatem atque. Quae, asperiores aut commodi?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, nisi! Quam ab rem commodi? Vero porro, ratione non. Dolores aliquid, quas impedit eaque doloribus ratione harum deleniti temporibus! Quo, nam. </p>
            </div>
          </div>

        </div>
      </div>

      <div id="mugs" class="col-md-4">
        <div class="row team">
          <div class="col-md-10 col-md-offset-2 wrapper-default wrapper-xs wrapper-shadow no-gutter">
            <img src="img/profilepic.jpg" class="pull-top" style=" border: 2px solid goldenrod; width: 200px; border-radius: 72%;" alt="image">
            <h2>Jerry Magels</h2>
            <p>Vinyard Manager and World Renowned Televangelists</p>
            <a>
              <p class="btn" ng-click="how = !how">Read more...</p>
            </a>
            <div ng-show="how">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor ullam omnis magni blanditiis, eius minima molestiae ratione sapiente. Eos quis dolorem ducimus sed repellendus eaque molestias nihil amet illo! Eos.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente asperiores porro assumenda deleniti laboriosam odit fugit aliquid vero hic consequuntur corporis optio voluptatibus, nam quam, commodi fuga officia. Quibusdam, laboriosam!</p>
            </div>
            <p></p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>