

<section id="wines" class="module image-responsive">
    <div class="container-fluid container-custom">

        <!-- MODULE TITLE -->
        <div class="wines row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="row">

                    <div id="wines3" class="col-xs-12 col-md-12">
                        <h2 class="text-center module-title font-alt">Our Wines</h2>
                        <hr>
                        <p class="text-center lead module-subtitle">Not to pat ourselves on the back, but.........<br> Seattle Wine Awards just love us! We consistantly
                            win Double Gold awards for our Damn Straight, JK Vineyard Syrah, and our Cabernet Sauvignon.
                            Yes, our wines are just that good.</p>
                        <a> <p class="btn" ng-click="show = !show"
                            style="color: black;">Wines</p>
                        </a>

                    </div>

                
                </div>
            </div>
        </div>
    </div>
</section>

<div ng-show="show" id="wines2">
    <div class="module image-responsive">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="col-xs-12 col-md-4">
                    <div class="thumbnail row">
                        <div class="col-xs-5 col-md-6">

                            <img src="img/bottle2.png" style="height: 200px;" alt="wine bottle">
                        </div>
                        <div class="col-xs-7  col-md-6 caption">
                            <h3>2012 Estate Sangiovese</h3>
                            <p>Sangiovese is the ultimate food wine, thanks to great acidity, bright red flavors and moderate
                                tannins. It’s like pinot noir with sass. </p>
                            <a href="">click for more...</a>
                            <p><a href="#" class="btn" role="button">Add to Cart</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="thumbnail row">
                        <div class="col-xs-5 col-md-6">

                            <img src="img/bottle2.png" style="height: 200px;" alt="wine bottle">
                        </div>
                        <div class="col-xs-7  col-md-6 caption">
                            <h3>2012 Estate Sangiovese</h3>
                            <p>Sangiovese is the ultimate food wine, thanks to great acidity, bright red flavors and moderate
                                tannins. It’s like pinot noir with sass. </p>
                            <a href="">click for more...</a>
                            <p><a href="#" class="btn" role="button">Add to Cart</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="thumbnail row">
                        <div class="col-xs-5 col-md-6">

                            <img src="img/bottle2.png" style="height: 200px;" alt="wine bottle">
                        </div>
                        <div class="col-xs-7  col-md-6 caption">
                            <h3>2012 Estate Sangiovese</h3>
                            <p>Sangiovese is the ultimate food wine, thanks to great acidity, bright red flavors and moderate
                                tannins. It’s like pinot noir with sass. </p>
                            <a href="">click for more...</a>
                            <p><a href="#" class="btn" role="button">Add to Cart</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="thumbnail row">
                        <div class="col-xs-5 col-md-6">

                            <img src="img/bottle2.png" style="height: 200px;" alt="wine bottle">
                        </div>
                        <div class="col-xs-7  col-md-6 caption">
                            <h3>2012 Estate Sangiovese</h3>
                            <p>Sangiovese is the ultimate food wine, thanks to great acidity, bright red flavors and moderate
                                tannins. It’s like pinot noir with sass. </p>
                            <a href="">click for more...</a>
                            <p><a href="#" class="btn" role="button">Add to Cart</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="thumbnail row">
                        <div class="col-xs-5 col-md-6">

                            <img src="img/bottle2.png" style="height: 200px;" alt="wine bottle">
                        </div>
                        <div class="col-xs-7  col-md-6 caption">
                            <h3>2012 Estate Sangiovese</h3>
                            <p>Sangiovese is the ultimate food wine, thanks to great acidity, bright red flavors and moderate
                                tannins. It’s like pinot noir with sass. </p>
                            <a href="">click for more...</a>
                            <p><a href="#" class="btn" role="button">Add to Cart</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="thumbnail row">
                        <div class="col-xs-5 col-md-6">

                            <img src="img/bottle2.png" style="height: 200px;" alt="wine bottle">
                        </div>
                        <div class="col-xs-7  col-md-6 caption">
                            <h3>2012 Estate Sangiovese</h3>
                            <p>Sangiovese is the ultimate food wine, thanks to great acidity, bright red flavors and moderate
                                tannins. It’s like pinot noir with sass. </p>
                            <a href="">click for more...</a>
                            <p><a href="#" class="btn" role="button">Add to Cart</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="thumbnail row">
                        <div class="col-xs-5 col-md-6">

                            <img src="img/bottle2.png" style="height: 200px;" alt="wine bottle">
                        </div>
                        <div class="col-xs-7  col-md-6 caption">
                            <h3>2012 Estate Sangiovese</h3>
                            <p>Sangiovese is the ultimate food wine, thanks to great acidity, bright red flavors and moderate
                                tannins. It’s like pinot noir with sass. </p>
                            <a href="">click for more...</a>
                            <p><a href="#" class="btn" role="button">Add to Cart</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12  col-md-4">
                    <div class="thumbnail row">
                        <div class="col-xs-5 col-md-6">

                            <img src="img/bottle2.png" style="height: 200px;" alt="wine bottle">
                        </div>
                        <div class="col-xs-7  col-md-6 caption">
                            <h3>2012 Estate Sangiovese</h3>
                            <p>Sangiovese is the ultimate food wine, thanks to great acidity, bright red flavors and moderate
                                tannins. It’s like pinot noir with sass. </p>
                            <a href="">click for more...</a>
                            <p><a href="#" class="btn" role="button">Add to Cart</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12  col-md-4">
                    <div class="thumbnail row">
                        <div class="col-xs-5 col-md-6">

                            <img src="img/bottle2.png" style="height: 200px;" alt="wine bottle">
                        </div>
                        <div class="col-xs-7 col-md-6 caption">
                            <h3>2012 Estate Sangiovese</h3>
                            <p>Sangiovese is the ultimate food wine, thanks to great acidity, bright red flavors and moderate
                                tannins. It’s like pinot noir with sass. </p>
                            <a href="">click for more...</a>
                            <p><a href="#" class="btn" role="button">Add to Cart</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section id="aboutImg" class="module image-responsive">
   <div id="triangle-topleft4"></div>
    <div id="triangle-topleft5"></div>
    <img src="img/grapes2.jpg" style="width: 100%; margin-right: -15px; margin-left: -15; padding-top: 0; padding-bottom: opx;"
        class="img-responsive" alt="2&quot;he">
</section>
