

<section id="wineClub" class="module image-responsive">
					
       <div class="backImg"></div>
		<div class="wineClub row">
			<div class="col-sm-6 col-sm-offset-3">
				<h2 class="text-center module-title font-alt">Wine Club</h2><hr>
				<p class="text-center lead module-subtitle">Why would you join a wine club? Well, besides the fact that you'll get cases and cases of amazing wine, you'll also be the "cool kid" that everyone wants to have dinner with. Nobody can resist a great bottle of wine. <br>Seriously, unlike your last haircut, you'll never regret this decision.</p>
              <a href="#" class="btn" role="button">Join Wine Club</a>
			</div>
		</div>
	</section>

